# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
benchmark/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy / type checkers
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Ruff
.ruff_cache/

# Jupyter
.ipynb_checkpoints

# PyPI
.pypirc

# IDEs
.idea/
.vscode/

# Bioinformatics data files
*.bam
*.bai
*.sam
*.bed.gz
*.narrowPeak
*.bigWig
*.bigBed

# Output directories
parapeak_output/

# Credentials
token.txt
dist/
build/
*.egg-info/

# others
node_modules
package*.json

